@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  scroll-behavior: smooth;
}
.f-h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #03050b;
  color: white;
}

/* matikan indikator scroll */

body::-webkit-scrollbar {
  display: none;
}
